<mat-card class="container">
  <mat-card-content>
    <mat-card-title translate>Exchange rates</mat-card-title>
    <table mat-table [dataSource]="currencyList" class="mat-elevation-z8">
      <ng-container matColumnDef="filialsText">
        <th mat-header-cell *matHeaderCellDef [style.display]="'none'" translate>Filial</th>
        <td mat-cell *matCellDef="let element">{{ element.bank_name }}</td>
      </ng-container>

      <ng-container matColumnDef="usdIn">
        <th mat-header-cell *matHeaderCellDef translate>Buying</th>
        <td mat-cell *matCellDef="let element">{{ element.USD_in }}</td>
      </ng-container>

      <ng-container matColumnDef="usdOut">
        <th mat-header-cell *matHeaderCellDef translate>Selling</th>
        <td mat-cell *matCellDef="let element">{{ element.USD_out }}</td>
      </ng-container>

      <ng-container matColumnDef="eurIn">
        <th mat-header-cell *matHeaderCellDef translate>Buying</th>
        <td mat-cell *matCellDef="let element">{{ element.EUR_in }}</td>
      </ng-container>

      <ng-container matColumnDef="eurOut">
        <th mat-header-cell *matHeaderCellDef translate>Selling</th>
        <td mat-cell *matCellDef="let element">{{ element.EUR_out }}</td>
      </ng-container>

      <ng-container matColumnDef="rubIn">
        <th mat-header-cell *matHeaderCellDef translate>Buying</th>
        <td mat-cell *matCellDef="let element">{{ element.RUB_in }}</td>
      </ng-container>

      <ng-container matColumnDef="rubOut">
        <th mat-header-cell *matHeaderCellDef translate>Selling</th>
        <td mat-cell *matCellDef="let element">{{ element.RUB_out }}</td>
      </ng-container>

      <ng-container matColumnDef="1">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" translate>Filial</th>
      </ng-container>
      <ng-container matColumnDef="2">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="center">USD</th>
      </ng-container>
      <ng-container matColumnDef="3">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="center">EUR</th>
      </ng-container>
      <ng-container matColumnDef="4">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="center">RUB</th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['1', '2', '3', '4']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
